<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CATest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CATest.Properties.Settings>
            <setting name="CATest_localhost_WebServiceUpg2" serializeAs="String">
                <value>http://localhost:50895/WebServiceUpg2.asmx</value>
            </setting>
        </CATest.Properties.Settings>
    </applicationSettings>
</configuration>